<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBkCUqQpyqydz3MqqWGeSV9TeWIiz8rdPs</string>
	<key>GCM_SENDER_ID</key>
	<string>517970202883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wnt</string>
	<key>PROJECT_ID</key>
	<string>walkntalk-79fae</string>
	<key>STORAGE_BUCKET</key>
	<string>walkntalk-79fae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517970202883:ios:e027c7f6cd671fba6c1936</string>
</dict>
</plist>